<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ../views/partials/_header %>
</head>

<body>
  <% if (user_id === urls[shortURL].user) { %>
    <h1> URLS Show EJS Page</h1>
    <li> <%= shortURL %> - <%= longURL %> </li>
    <form action="/urls/<%= shortURL%>/update" method="POST" style="margin:10px;">
      <input id="update" type="text" name="update" placeholder="<%= longURL %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <td> Added: <%=urls[shortURL]["date"]%> </td> <td>Visitors: <%=urls[shortURL]["visits"]%></td> <td>Unique visitors: <%=urls[shortURL]["uniqueCount"]%></td>
  <% } else { %>
  <p> Access only allowed for URL submitter. Please log in.</p>
  <% } %>


</body>
</html>
