<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ../views/partials/_header %>
</head>
<body>

<h2> URL INDEX </h2>
<% for(sites in urls){ %>
<li> <%= sites %> =======> <%= urls[sites].url %>

    <form method="POST" action="/urls/<%= sites %>/delete" id="del">
    </form> <form method="GET" action="/urls/<%= sites %>/" id="update">
    </form>
    <button form="update">EDIT</button> <button form="del">DELETE</button> </li>

    <p><td> Added: <%=urls[sites]["date"]%> </td> <td>Hit Count: <%=urls[sites]["visits"]%></td> <td>Unique visitors: <%=urls[sites]["uniqueCount"]%></td></p>

<% } %>

<ul></ul>

<a href="/urls/new"> Create a New Short Link </a>




</body>
</html>


